body {
    background-color: darkslateblue;
    font-family: monospace;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: darkslateblue;
    padding-top: 20px;
}

h3 {
    color: darkslateblue;
}

div#container {
    text-align: center;
}

section {
    background-color: white;
    width: 600px;
    height: 650px;
    border-radius: 30px;
    margin: auto;
}

img {
    width: 400px;
    height: 400px;
    padding-top: 20px;
    border-radius: 360px;
}

footer {
    color: white;
    text-align: center;
    padding-top: 20px;
}